<!DOCTYPE html>


<html lang="en" class="light-style layout-wide  customizer-hide" dir="ltr" data-theme="theme-default" data-assets-path="~/assets/" data-template="vertical-menu-template" data-style="light">


<!-- Mirrored from demos.themeselection.com/sneat-aspnet-core-mvc-admin-template/html/vertical-menu-template/auth-login-cover.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 10 Dec 2024 09:50:55 GMT -->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Demo : Login Cover - Pages | sneat - Bootstrap Dashboard PRO</title>


    <meta name="description" content="Most Powerful &amp; Comprehensive Bootstrap 5 Admin Dashboard built for developers!" />
    <meta name="keywords" content="dashboard, bootstrap 5 dashboard, bootstrap 5 design, bootstrap 5">
    <!-- Canonical SEO -->
    <link rel="canonical" href="https://themeselection.com/item/sneat-aspnet-core-mvc-admin-template/">


    <!-- ? PROD Only: Google Tag Manager (Default ThemeSelection: GTM-5DDHKGP, PixInvent: GTM-5J3LMKC) -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    '../../../../www.googletagmanager.com/gtm5445.html?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5DDHKGP');</script>
    <!-- End Google Tag Manager -->
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="https://demos.themeselection.com/sneat-aspnet-core-mvc-admin-template/assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&amp;display=swap" rel="stylesheet">

    <!-- Icons -->

    <link rel="stylesheet" href="~/assets/vendor/fonts/boxicons.css" />
    <link rel="stylesheet" href="~/assets/vendor/fonts/fontawesome.css" />
    <link rel="stylesheet" href="~/assets/vendor/fonts/flag-icons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="~/assets/vendor/css/rtl/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="~/assets/vendor/css/rtl/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/typeahead-js/typeahead.css" />
    <!-- Vendor -->
    <link rel="stylesheet" href="~/assets/vendor/libs/%40form-validation/form-validation.css" />

    <!-- Page CSS -->
    <!-- Page -->
    <link rel="stylesheet" href="~/assets/vendor/css/pages/page-auth.css">

    <!-- Helpers -->
    <script src="~/assets/vendor/js/helpers.js"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
    <script src="~/assets/vendor/js/template-customizer.js"></script>
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="~/assets/js/config.js"></script>
    
</head>

<body>


    <!-- ?PROD Only: Google Tag Manager (noscript) (Default ThemeSelection: GTM-5DDHKGP, PixInvent: GTM-5J3LMKC) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5DDHKGP" height="0" width="0" style="display: none; visibility: hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Content -->

    <div class="authentication-wrapper authentication-cover">
        <!-- Logo -->
        <a href="index.html" class="app-brand auth-cover-brand gap-2">
            <span class="app-brand-logo demo" style="width:25px;height:42px;" >
                @* <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="38px" height="42px" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g><path style="opacity:1" fill="#817671" d="M 22.5,1.5 C 22.5,1.16667 22.5,0.833333 22.5,0.5C 25.5,0.5 28.5,0.5 31.5,0.5C 32.7485,2.6704 33.7485,5.00373 34.5,7.5C 34.0431,8.29755 33.3764,8.63088 32.5,8.5C 32.5,8.16667 32.5,7.83333 32.5,7.5C 32.5,6.5 32.5,5.5 32.5,4.5C 29.3233,3.25696 25.9899,2.25696 22.5,1.5 Z" /></g>
                    <g><path style="opacity:1" fill="#e6a083" d="M -0.5,-0.5 C 5.83333,-0.5 12.1667,-0.5 18.5,-0.5C 18.5,-0.166667 18.5,0.166667 18.5,0.5C 18.5,13.5 18.5,26.5 18.5,39.5C 18.1667,39.5 17.8333,39.5 17.5,39.5C 11.69,40.4896 5.68996,40.8229 -0.5,40.5C -0.5,26.8333 -0.5,13.1667 -0.5,-0.5 Z" /></g>
                    <g><path style="opacity:1" fill="#796e68" d="M 31.5,0.5 C 32.8333,0.5 34.1667,0.5 35.5,0.5C 35.5,3.83333 35.5,7.16667 35.5,10.5C 33.9731,10.573 32.9731,9.90632 32.5,8.5C 33.3764,8.63088 34.0431,8.29755 34.5,7.5C 33.7485,5.00373 32.7485,2.6704 31.5,0.5 Z" /></g>
                    <g><path style="opacity:1" fill="#978f8b" d="M 22.5,1.5 C 25.9899,2.25696 29.3233,3.25696 32.5,4.5C 29.1667,4.5 25.8333,4.5 22.5,4.5C 22.5,5.5 22.5,6.5 22.5,7.5C 23.5,7.5 24.5,7.5 25.5,7.5C 25.5,11.1667 25.5,14.8333 25.5,18.5C 25.5,22.8333 25.5,27.1667 25.5,31.5C 25.1667,31.5 24.8333,31.5 24.5,31.5C 23.962,29.8828 23.6287,28.2161 23.5,26.5C 24.4896,20.69 24.8229,14.69 24.5,8.5C 23.1667,8.5 21.8333,8.5 20.5,8.5C 19.9898,5.61221 20.6565,3.27887 22.5,1.5 Z" /></g>
                    <g><path style="opacity:1" fill="#e17e58" d="M 11.5,0.5 C 11.7036,2.68545 12.3702,4.68545 13.5,6.5C 12.8333,6.16667 12.1667,5.83333 11.5,5.5C 9.95164,2.04897 7.95164,1.71564 5.5,4.5C 5.5,3.5 5.5,2.5 5.5,1.5C 4.16667,1.5 2.83333,1.5 1.5,1.5C 1.5,5.16667 1.5,8.83333 1.5,12.5C 1.16667,12.5 0.833333,12.5 0.5,12.5C 0.5,8.5 0.5,4.5 0.5,0.5C 4.16667,0.5 7.83333,0.5 11.5,0.5 Z" /></g>
                    <g><path style="opacity:1" fill="#fbf7f4" d="M 32.5,4.5 C 32.5,5.5 32.5,6.5 32.5,7.5C 31.1667,7.5 29.8333,7.5 28.5,7.5C 28.5,11.5 28.5,15.5 28.5,19.5C 27.6805,22.3054 27.1805,25.3054 27,28.5C 26.8213,24.9748 26.3213,21.6414 25.5,18.5C 25.5,14.8333 25.5,11.1667 25.5,7.5C 24.5,7.5 23.5,7.5 22.5,7.5C 22.5,6.5 22.5,5.5 22.5,4.5C 25.8333,4.5 29.1667,4.5 32.5,4.5 Z" /></g>
                    <g><path style="opacity:1" fill="#aea19b" d="M 18.5,0.5 C 18.5,0.166667 18.5,-0.166667 18.5,-0.5C 24.5,-0.5 30.5,-0.5 36.5,-0.5C 36.5,4.5 36.5,9.5 36.5,14.5C 36.1667,14.5 35.8333,14.5 35.5,14.5C 35.5,13.5 35.5,12.5 35.5,11.5C 35.5,11.1667 35.5,10.8333 35.5,10.5C 35.5,7.16667 35.5,3.83333 35.5,0.5C 34.1667,0.5 32.8333,0.5 31.5,0.5C 28.5,0.5 25.5,0.5 22.5,0.5C 21.5,0.5 20.5,0.5 19.5,0.5C 19.1667,0.5 18.8333,0.5 18.5,0.5 Z" /></g>
                    <g><path style="opacity:1" fill="#fcd1ba" d="M 11.5,5.5 C 9.83333,6.83333 8.16667,8.16667 6.5,9.5C 6.5,10.8333 6.5,12.1667 6.5,13.5C 6.16667,13.5 5.83333,13.5 5.5,13.5C 5.54315,9.1074 5.04315,8.77406 4,12.5C 3.50074,17.4889 3.33407,22.4889 3.5,27.5C 2.51658,23.7016 2.18325,19.7016 2.5,15.5C 2.4893,11.5357 3.4893,7.869 5.5,4.5C 7.95164,1.71564 9.95164,2.04897 11.5,5.5 Z" /></g>
                    <g><path style="opacity:1" fill="#d8663c" d="M 11.5,0.5 C 13.1667,0.5 14.8333,0.5 16.5,0.5C 16.7035,12.856 16.3702,25.1894 15.5,37.5C 13.6921,36.0821 13.0254,34.0821 13.5,31.5C 14.2341,30.2921 14.5674,28.9587 14.5,27.5C 15.1644,24.8541 15.4978,22.0208 15.5,19C 15.6741,14.5578 15.0074,10.3911 13.5,6.5C 12.3702,4.68545 11.7036,2.68545 11.5,0.5 Z" /></g>
                    <g><path style="opacity:1" fill="#d7653a" d="M 5.5,4.5 C 3.4893,7.869 2.4893,11.5357 2.5,15.5C 2.16667,15.5 1.83333,15.5 1.5,15.5C 1.5,14.5 1.5,13.5 1.5,12.5C 1.5,8.83333 1.5,5.16667 1.5,1.5C 2.83333,1.5 4.16667,1.5 5.5,1.5C 5.5,2.5 5.5,3.5 5.5,4.5 Z" /></g>
                    <g><path style="opacity:1" fill="#f2bda4" d="M 11.5,5.5 C 12.1667,5.83333 12.8333,6.16667 13.5,6.5C 15.0074,10.3911 15.6741,14.5578 15.5,19C 15.4978,22.0208 15.1644,24.8541 14.5,27.5C 14.6735,21.0746 14.0068,14.7413 12.5,8.5C 11.8933,8.62358 11.56,8.95691 11.5,9.5C 11.1667,9.5 10.8333,9.5 10.5,9.5C 9.2946,8.31434 7.96126,8.31434 6.5,9.5C 8.16667,8.16667 9.83333,6.83333 11.5,5.5 Z" /></g>
                    <g><path style="opacity:1" fill="#847b76" d="M 20.5,8.5 C 21.8333,8.5 23.1667,8.5 24.5,8.5C 24.8229,14.69 24.4896,20.69 23.5,26.5C 23.1254,22.5575 22.1254,18.8909 20.5,15.5C 20.5,13.1667 20.5,10.8333 20.5,8.5 Z" /></g>
                    <g><path style="opacity:1" fill="#817772" d="M 32.5,8.5 C 32.9731,9.90632 33.9731,10.573 35.5,10.5C 35.5,10.8333 35.5,11.1667 35.5,11.5C 34.5655,12.5676 34.2322,13.901 34.5,15.5C 33.8333,15.5 33.1667,15.5 32.5,15.5C 31.8333,20.8333 31.1667,26.1667 30.5,31.5C 30.5,30.8333 30.1667,30.5 29.5,30.5C 29.5,29.8333 29.5,29.1667 29.5,28.5C 30.2125,23.632 30.8792,18.632 31.5,13.5C 30.8333,12.1667 30.1667,10.8333 29.5,9.5C 30.325,8.61432 31.325,8.28099 32.5,8.5 Z" /></g>
                    <g><path style="opacity:1" fill="#d4653a" d="M 10.5,9.5 C 10.8333,9.5 11.1667,9.5 11.5,9.5C 11.5,12.5 11.5,15.5 11.5,18.5C 11.1667,18.5 10.8333,18.5 10.5,18.5C 10.3059,14.9952 9.30591,14.6618 7.5,17.5C 7.33788,15.4727 7.50454,13.4727 8,11.5C 8.41691,10.244 9.25025,9.57735 10.5,9.5 Z" /></g>
                    <g><path style="opacity:1" fill="#e2835e" d="M 0.5,12.5 C 0.833333,12.5 1.16667,12.5 1.5,12.5C 1.5,13.5 1.5,14.5 1.5,15.5C 1.5,21.5 1.5,27.5 1.5,33.5C 1.5,35.1667 1.5,36.8333 1.5,38.5C 5.5,38.5 9.5,38.5 13.5,38.5C 13.5,38.8333 13.5,39.1667 13.5,39.5C 9.16667,39.5 4.83333,39.5 0.5,39.5C 0.5,30.5 0.5,21.5 0.5,12.5 Z" /></g>
                    <g><path style="opacity:1" fill="#f0e5df" d="M 36.5,-0.5 C 36.8333,-0.5 37.1667,-0.5 37.5,-0.5C 37.5,13.5 37.5,27.5 37.5,41.5C 33.1667,41.5 28.8333,41.5 24.5,41.5C 24.5,41.1667 24.5,40.8333 24.5,40.5C 28.5,40.5 32.5,40.5 36.5,40.5C 36.5,31.8333 36.5,23.1667 36.5,14.5C 36.5,9.5 36.5,4.5 36.5,-0.5 Z" /></g>
                    <g><path style="opacity:1" fill="#fedecc" d="M 5.5,13.5 C 5.66609,19.1764 5.49942,24.8431 5,30.5C 4.61742,29.944 4.11742,29.6107 3.5,29.5C 3.5,28.8333 3.5,28.1667 3.5,27.5C 3.33407,22.4889 3.50074,17.4889 4,12.5C 5.04315,8.77406 5.54315,9.1074 5.5,13.5 Z" /></g>
                    <g><path style="opacity:1" fill="#b89c90" d="M 18.5,0.5 C 18.8333,0.5 19.1667,0.5 19.5,0.5C 19.1713,13.3443 19.5046,26.011 20.5,38.5C 20.5,38.8333 20.5,39.1667 20.5,39.5C 19.8333,39.5 19.1667,39.5 18.5,39.5C 18.5,26.5 18.5,13.5 18.5,0.5 Z" /></g>
                    <g><path style="opacity:1" fill="#918782" d="M 35.5,11.5 C 35.5,12.5 35.5,13.5 35.5,14.5C 35.5,22.8333 35.5,31.1667 35.5,39.5C 34.1667,39.5 32.8333,39.5 31.5,39.5C 31.5,39.1667 31.5,38.8333 31.5,38.5C 31.8333,38.5 32.1667,38.5 32.5,38.5C 34.4651,31.2395 35.1318,23.5729 34.5,15.5C 34.2322,13.901 34.5655,12.5676 35.5,11.5 Z" /></g>
                    <g><path style="opacity:1" fill="#fbd5bf" d="M 14.5,27.5 C 14.5674,28.9587 14.2341,30.2921 13.5,31.5C 12.3263,32.5137 11.6596,33.847 11.5,35.5C 7.75934,36.4015 5.75934,35.0681 5.5,31.5C 7.41467,31.7845 9.08134,31.4511 10.5,30.5C 11.4834,26.7016 11.8168,22.7016 11.5,18.5C 11.5,15.5 11.5,12.5 11.5,9.5C 11.56,8.95691 11.8933,8.62358 12.5,8.5C 14.0068,14.7413 14.6735,21.0746 14.5,27.5 Z" /></g>
                    <g><path style="opacity:1" fill="#e06132" d="M 10.5,18.5 C 10.5,21.8333 10.5,25.1667 10.5,28.5C 9.5,28.5 8.5,28.5 7.5,28.5C 7.5,24.8333 7.5,21.1667 7.5,17.5C 9.30591,14.6618 10.3059,14.9952 10.5,18.5 Z" /></g>
                    <g><path style="opacity:1" fill="#98908c" d="M 32.5,7.5 C 32.5,7.83333 32.5,8.16667 32.5,8.5C 31.325,8.28099 30.325,8.61432 29.5,9.5C 30.1667,10.8333 30.8333,12.1667 31.5,13.5C 30.8792,18.632 30.2125,23.632 29.5,28.5C 28.701,25.5701 28.3677,22.5701 28.5,19.5C 28.5,15.5 28.5,11.5 28.5,7.5C 29.8333,7.5 31.1667,7.5 32.5,7.5 Z" /></g>
                    <g><path style="opacity:1" fill="#978a85" d="M 19.5,0.5 C 20.5,0.5 21.5,0.5 22.5,0.5C 22.5,0.833333 22.5,1.16667 22.5,1.5C 20.6565,3.27887 19.9898,5.61221 20.5,8.5C 20.5,10.8333 20.5,13.1667 20.5,15.5C 20.5,23.1667 20.5,30.8333 20.5,38.5C 19.5046,26.011 19.1713,13.3443 19.5,0.5 Z" /></g>
                    <g><path style="opacity:1" fill="#7f7571" d="M 32.5,15.5 C 33.1667,15.5 33.8333,15.5 34.5,15.5C 35.1318,23.5729 34.4651,31.2395 32.5,38.5C 32.5,30.8333 32.5,23.1667 32.5,15.5 Z" /></g>
                    <g><path style="opacity:1" fill="#d67752" d="M 10.5,9.5 C 9.25025,9.57735 8.41691,10.244 8,11.5C 7.50454,13.4727 7.33788,15.4727 7.5,17.5C 7.5,21.1667 7.5,24.8333 7.5,28.5C 8.5,28.5 9.5,28.5 10.5,28.5C 10.5,25.1667 10.5,21.8333 10.5,18.5C 10.8333,18.5 11.1667,18.5 11.5,18.5C 11.8168,22.7016 11.4834,26.7016 10.5,30.5C 9.16667,30.5 7.83333,30.5 6.5,30.5C 6.5,24.8333 6.5,19.1667 6.5,13.5C 6.5,12.1667 6.5,10.8333 6.5,9.5C 7.96126,8.31434 9.2946,8.31434 10.5,9.5 Z" /></g>
                    <g><path style="opacity:1" fill="#807673" d="M 20.5,15.5 C 22.1254,18.8909 23.1254,22.5575 23.5,26.5C 23.6287,28.2161 23.962,29.8828 24.5,31.5C 23.9084,34.1272 23.5751,36.7938 23.5,39.5C 22.5,39.5 21.5,39.5 20.5,39.5C 20.5,39.1667 20.5,38.8333 20.5,38.5C 20.5,30.8333 20.5,23.1667 20.5,15.5 Z" /></g>
                    <g><path style="opacity:1" fill="#cc7553" d="M 16.5,0.5 C 17.4955,13.3226 17.8288,26.3226 17.5,39.5C 16.1667,39.5 14.8333,39.5 13.5,39.5C 13.5,39.1667 13.5,38.8333 13.5,38.5C 14.4916,38.6716 15.1583,38.3382 15.5,37.5C 16.3702,25.1894 16.7035,12.856 16.5,0.5 Z" /></g>
                    <g><path style="opacity:1" fill="#a09a96" d="M 25.5,18.5 C 26.3213,21.6414 26.8213,24.9748 27,28.5C 27.1805,25.3054 27.6805,22.3054 28.5,19.5C 28.3677,22.5701 28.701,25.5701 29.5,28.5C 29.5,29.1667 29.5,29.8333 29.5,30.5C 29.5,32.8333 29.5,35.1667 29.5,37.5C 25.9319,37.2407 24.5985,35.2407 25.5,31.5C 25.5,27.1667 25.5,22.8333 25.5,18.5 Z" /></g>
                    <g><path style="opacity:1" fill="#f9c3a9" d="M 5.5,13.5 C 5.83333,13.5 6.16667,13.5 6.5,13.5C 6.5,19.1667 6.5,24.8333 6.5,30.5C 7.83333,30.5 9.16667,30.5 10.5,30.5C 9.08134,31.4511 7.41467,31.7845 5.5,31.5C 5.75934,35.0681 7.75934,36.4015 11.5,35.5C 10.7261,36.1471 9.72612,36.4805 8.5,36.5C 6.64545,36.6598 5.31212,35.9931 4.5,34.5C 3.962,32.8828 3.62867,31.2161 3.5,29.5C 4.11742,29.6107 4.61742,29.944 5,30.5C 5.49942,24.8431 5.66609,19.1764 5.5,13.5 Z" /></g>
                    <g><path style="opacity:1" fill="#d06c44" d="M 1.5,15.5 C 1.83333,15.5 2.16667,15.5 2.5,15.5C 2.18325,19.7016 2.51658,23.7016 3.5,27.5C 3.5,28.1667 3.5,28.8333 3.5,29.5C 3.62867,31.2161 3.962,32.8828 4.5,34.5C 3.60895,33.8902 2.60895,33.5569 1.5,33.5C 1.5,27.5 1.5,21.5 1.5,15.5 Z" /></g>
                    <g><path style="opacity:1" fill="#938985" d="M 32.5,15.5 C 32.5,23.1667 32.5,30.8333 32.5,38.5C 32.1667,38.5 31.8333,38.5 31.5,38.5C 31.0074,36.1944 30.6741,33.861 30.5,31.5C 31.1667,26.1667 31.8333,20.8333 32.5,15.5 Z" /></g>
                    <g><path style="opacity:1" fill="#d76b41" d="M 13.5,31.5 C 13.0254,34.0821 13.6921,36.0821 15.5,37.5C 15.1583,38.3382 14.4916,38.6716 13.5,38.5C 9.5,38.5 5.5,38.5 1.5,38.5C 1.5,36.8333 1.5,35.1667 1.5,33.5C 2.60895,33.5569 3.60895,33.8902 4.5,34.5C 5.31212,35.9931 6.64545,36.6598 8.5,36.5C 9.72612,36.4805 10.7261,36.1471 11.5,35.5C 11.6596,33.847 12.3263,32.5137 13.5,31.5 Z" /></g>
                    <g><path style="opacity:1" fill="#776e6a" d="M 29.5,30.5 C 30.1667,30.5 30.5,30.8333 30.5,31.5C 30.6741,33.861 31.0074,36.1944 31.5,38.5C 31.5,38.8333 31.5,39.1667 31.5,39.5C 28.8333,39.5 26.1667,39.5 23.5,39.5C 23.5751,36.7938 23.9084,34.1272 24.5,31.5C 24.8333,31.5 25.1667,31.5 25.5,31.5C 24.5985,35.2407 25.9319,37.2407 29.5,37.5C 29.5,35.1667 29.5,32.8333 29.5,30.5 Z" /></g>
                    <g><path style="opacity:1" fill="#a99e99" d="M 35.5,14.5 C 35.8333,14.5 36.1667,14.5 36.5,14.5C 36.5,23.1667 36.5,31.8333 36.5,40.5C 32.5,40.5 28.5,40.5 24.5,40.5C 23.8333,40.5 23.5,40.1667 23.5,39.5C 26.1667,39.5 28.8333,39.5 31.5,39.5C 32.8333,39.5 34.1667,39.5 35.5,39.5C 35.5,31.1667 35.5,22.8333 35.5,14.5 Z" /></g>
                    <g><path style="opacity:1" fill="#f2dcd0" d="M 17.5,39.5 C 17.8333,39.5 18.1667,39.5 18.5,39.5C 19.1667,39.5 19.8333,39.5 20.5,39.5C 21.5,39.5 22.5,39.5 23.5,39.5C 23.5,40.1667 23.8333,40.5 24.5,40.5C 24.5,40.8333 24.5,41.1667 24.5,41.5C 16.1667,41.5 7.83333,41.5 -0.5,41.5C -0.5,41.1667 -0.5,40.8333 -0.5,40.5C 5.68996,40.8229 11.69,40.4896 17.5,39.5 Z" /></g>
                </svg> *@
            </span>
            <span class="app-brand-text demo text-heading fw-bold">Hrms & Payroll</span>
        </a>
        <!-- /Logo -->
        <div class="authentication-inner row m-0">
            <!-- /Left Text -->
            <div class="d-none d-lg-flex col-lg-7 col-xl-8 align-items-center p-5">
                <div class="w-100 d-flex justify-content-center">
                    <img src="~/assets/img/illustrations/boy-with-rocket-light.png" class="img-fluid" alt="Login image" width="700" data-app-dark-img="illustrations/boy-with-rocket-dark.png" data-app-light-img="illustrations/boy-with-rocket-light.html">
                </div>
            </div>
            <!-- /Left Text -->
            <!-- Login -->
            <div class="d-flex col-12 col-lg-5 col-xl-4 align-items-center authentication-bg p-sm-12 p-6">
                <div class="w-px-400 mx-auto mt-12 pt-5">
                    <h4 class="mb-1">Welcome to Hrms & Payroll! 👋</h4>
                    <p class="mb-6">Please sign-in to your account and start the adventure</p>

                    <form id="formAuthentication" class="mb-6" action="https://demos.themeselection.com/sneat-aspnet-core-mvc-admin-template/html/vertical-menu-template/index.html" method="GET">
                        <div class="mb-6">
                            <label for="email" class="form-label">Email or Username</label>
                            <input type="text" class="form-control" id="email" name="email-username" placeholder="Enter your email or username" autofocus>
                        </div>
                        <div class="mb-6 form-password-toggle">
                            <label class="form-label" for="password">Password</label>
                            <div class="input-group input-group-merge">
                                <input type="password" id="password" class="form-control" name="password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" />
                                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                            </div>
                        </div>
                        <div class="my-8">
                            <div class="d-flex justify-content-between">
                                <div class="form-check mb-0 ms-2">
                                    <input class="form-check-input" type="checkbox" id="remember-me">
                                    <label class="form-check-label" for="remember-me">
                                        Remember Me
                                    </label>
                                </div>
                                <a href="auth-forgot-password-cover.html">
                                    <p class="mb-0">Forgot Password?</p>
                                </a>
                            </div>
                        </div>
                        <button class="btn btn-primary d-grid w-100">
                            Sign in
                        </button>
                    </form>

                    <p class="text-center">
                        <span>New on our platform?</span>
                        <a href="auth-register-cover.html">
                            <span>Create an account</span>
                        </a>
                    </p>

                    <div class="divider my-6">
                        <div class="divider-text">or</div>
                    </div>

                    <div class="d-flex justify-content-center">
                        <a href="javascript:;" class="btn btn-sm btn-icon rounded-circle btn-text-facebook me-1_5">
                            <i class='bx bxl-facebook-circle'></i>
                        </a>

                        <a href="javascript:;" class="btn btn-sm btn-icon rounded-circle btn-text-twitter me-1_5">
                            <i class="tf-icons bx bxl-twitter"></i>
                        </a>

                        <a href="javascript:;" class="btn btn-sm btn-icon rounded-circle btn-text-github me-1_5">
                            <i class='bx bxl-github'></i>
                        </a>

                        <a href="javascript:;" class="btn btn-sm btn-icon rounded-circle btn-text-google-plus">
                            <i class="tf-icons bx bxl-google"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /Login -->
        </div>
    </div>

    <!-- / Content -->


    @* <div class="buy-now">
        <a href="https://themeselection.com/item/sneat-aspnet-core-mvc-admin-template/" target="_blank" class="btn btn-danger btn-buy-now">Buy Now</a>
    </div> *@


    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->

    <script src="~/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="~/assets/vendor/libs/popper/popper.js"></script>
    <script src="~/assets/vendor/js/bootstrap.js"></script>
    <script src="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/assets/vendor/libs/hammer/hammer.js"></script>
    <script src="~/assets/vendor/libs/i18n/i18n.js"></script>
    <script src="~/assets/vendor/libs/typeahead-js/typeahead.js"></script>
    <script src="~/assets/vendor/js/menu.js"></script>

    <!-- endbuild -->
    <!-- Vendors JS -->
    <script src="~/assets/vendor/libs/%40form-validation/popular.js"></script>
    <script src="~/assets/vendor/libs/%40form-validation/bootstrap5.js"></script>
    <script src="~/assets/vendor/libs/%40form-validation/auto-focus.js"></script>

    <!-- Main JS -->
    <script src="~/assets/js/main.js"></script>


    <!-- Page JS -->
    <script src="~/assets/js/pages-auth.js"></script>

</body>


<!-- Mirrored from demos.themeselection.com/sneat-aspnet-core-mvc-admin-template/html/vertical-menu-template/auth-login-cover.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 10 Dec 2024 09:51:03 GMT -->
</html>
<style>
    .vertical-menu {
        display: none; /* Hides the sidebar */
    }
</style>
<!-- beautify ignore:end -->
